@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  width: 100vw;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
}
.container{
  padding: 5rem;
  transition: transform 0.5s linear;
  background-color: #fafafa;
  transform-origin: top left;
}

.container.show-nav{
  transform: rotate(-20deg);
}

.rotate-circle{
  background-color: #ff7979;
  position: fixed;
  width: 200px;
  height: 200px;
  top: -100px;
  left: -100px;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: transform 0.5s linear;
}
small{
  color: #555;
  font-style: italic;
}

p{
  line-height: 1.5;
}

button{
  color: #fafafa;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
#close{
  margin-right: 3rem;
}

