@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  width: 100vw;
  background-color: #333;
  color: #222;
}


.container{
  padding: 5rem;
  transform: rotate(200deg);
}