@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container{
  padding: 2rem;
}