@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  width: 100vw;
  background-color: #333;
  color: #222;
}

.container{
  padding: 5rem;
  transform: rotate(-20deg);
  transition: transform 0.5s linear;
  background-color: #fafafa;
  transform-origin: top left;
}

.rotate-circle{
  background-color: #ff7979;
  position: fixed;
  width: 200px;
  height: 200px;
  top: 00px;
  left: 00px;
  border-radius: 50%;
}

button{
  color: #fafafa;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

